/**
 * Poppins Font Family
 * Optimized @font-face declarations with correct font-weight and font-style
 */

/* Thin 100 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Poppins Thin'), url('/fonts/poppins-webfont/Poppins-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Poppins Thin Italic'), url('/fonts/poppins-webfont/Poppins-ThinItalic.woff') format('woff');
}

/* ExtraLight 200 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Poppins ExtraLight'), url('/fonts/poppins-webfont/Poppins-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Poppins ExtraLight Italic'), url('/fonts/poppins-webfont/Poppins-ExtraLightItalic.woff') format('woff');
}

/* Light 300 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light'), url('/fonts/poppins-webfont/Poppins-Light.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light Italic'), url('/fonts/poppins-webfont/Poppins-LightItalic.woff') format('woff');
}

/* Regular 400 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), url('/fonts/poppins-webfont/Poppins-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Italic'), url('/fonts/poppins-webfont/Poppins-Italic.woff') format('woff');
}

/* Medium 500 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'), url('/fonts/poppins-webfont/Poppins-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium Italic'), url('/fonts/poppins-webfont/Poppins-MediumItalic.woff') format('woff');
}

/* SemiBold 600 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), url('/fonts/poppins-webfont/Poppins-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold Italic'), url('/fonts/poppins-webfont/Poppins-SemiBoldItalic.woff') format('woff');
}

/* Bold 700 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), url('/fonts/poppins-webfont/Poppins-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold Italic'), url('/fonts/poppins-webfont/Poppins-BoldItalic.woff') format('woff');
}

/* ExtraBold 800 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Poppins ExtraBold'), url('/fonts/poppins-webfont/Poppins-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Poppins ExtraBold Italic'), url('/fonts/poppins-webfont/Poppins-ExtraBoldItalic.woff') format('woff');
}

/* Black 900 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black'), url('/fonts/poppins-webfont/Poppins-Black.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black Italic'), url('/fonts/poppins-webfont/Poppins-BlackItalic.woff') format('woff');
}